extends ../layout/admin
block styles
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.css")
    meta(name="csrf-token" content= csrfToken)  
block contenido 
    div.py-10
        h1.text-4xl.my-10.font-extrabold.text-center Bienes     
            span.font-normal.text-gray-400 Raices
        h2.text-center.text-4xl.font-bold= pagina
        div(class="bg-white shadow py-8 px-4 mx-auto max-w-3xl mt-5 rounded md:px-10")
            form(id="imagen" class="dropzone border-dashed border-2 w-full min_h-96 h-auto rounded flex-col justify-center items-center" method="POST" action=`/propiedades/agregar-imagen/${propiedad.id}`)
                input(type="hidden" name="_csrf" value= csrfToken)
                
            button(id="publicar" class="mt-5 w-full py-3 bg-blue-600 hover:bg-blue-700 rounded text-white font-bold uppercase cursor-pointer text-center" type="button") Publicar Propiedad
block scripts
    script(src="/js/agregarImagen.js")
                    